@font-face {
    font-family: source-sans-regular;
    src: url(font/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: source-sans-bold;
    src: url(font/SourceSansPro-Bold.ttf);
}


body{
    margin: 0;
    background-color: #c4c4c4;
}

header, 
section {
    background-color: #fff;
    margin: 0 auto;
    width: 375px;
}



.first-post, 
.second-post,
.third-post {
    margin-bottom: 25px;
}

.header-images {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom:  1px solid #c4c4c4;
}
#logo {
    width: 127px;
}

#avatar-Tokhir {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

#first-avatar, 
#second-avatar,
#third-avatar,
#Tokhir-avatar{
    width: 34px;
    border-radius: 50%;
}

.information-user {
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 0;
    padding: 10px;
    padding-bottom: 0;
}

#first-username, 
#second-username,
#third-username,
#Tokhir-username {
    margin-left: 7px;
    font-family: source-sans-bold;
    font-size: 13px;
}
#first-place, 
#second-place, 
#third-place,
#Tokhir-place{
    margin-left: 7px;
    font-family: source-sans-regular;
    font-size: 12px;
}

#first-photo, 
#second-photo,
#third-photo,
#Tokhir-photo {
    width: 375px;
    margin-top: 11px;
}

.icons {
    margin-top: 21px;
    margin-left: 10px;
}

a {
    color: black;
    text-decoration: none;
}

#comment, #share {
    margin-left: 10px;
}

#like-number-first, 
#like-number-second,
#like-number-third,
#like-number-Tokhir {
    font-family: source-sans-bold;
    font-size: 13px;
}

#span-username-first, 
#span-username-second, 
#span-username-third,
#span-username-Tokhir {
    font-family: source-sans-bold;
    

}

#description-first, 
#description-second,
#description-third,
#description-Tokhir {
    font-size: 13px;
    font-family: source-sans-regular;
}

#like-number-first, 
#like-number-second,
#like-number-third,
#like-number-Tokhir,
#description-first, 
#description-second,
#description-third,
#description-Tokhir {
    margin-left: 13px;
    margin-bottom: 0;
    margin-top: 11px;
}

.fas {
    color: red;
}